@font-face {
    font-family: 'Inconsolata';
    src: url('/static/fonts/Inconsolata-Regular.ttf') format('truetype');
}

body {
    padding-top: 20px;
    font: 18px "Inconsolata", monospaced;
    background-color: black;
}

#loading{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
}

#loading .spinner{
    color: white;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-left: -64px;
    margin-top: -70px;
    font-size: 128px;
}

#loading p{
    color: white;
    font-size: 22px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -128px;
    margin-top: 100px;

}

#app {
    width: fit-content;
    margin-left: 10px;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.switch {
    margin-top: 10px;
    margin-bottom: 20px;
}

.device-name {
    color: white;
    text-align: center;
    border: 3px solid #5cb85c;
    border-radius: 8px;
    margin-bottom: 10px;
}

.device-name .tag {
    margin: 0;
    padding: 5px;
    padding-right: 10px;
    background-color: #5cb85c;
    height: 100%;
    float: left;
    vertical-align: top;
}

.device-name .name {
    padding: 5px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.port {
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
}

.sw-button {
    margin-left: 5px !important;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 60px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

/* remove the light darkening done by bootstrap of focus */
.btn-success:focus {
    outline: none;
    background-color:#5cb85c;
    border-color: #4cae4c;
}

/* remove the light darkening done by bootstrap of focus */
.btn-primary:focus {
    outline: none;
    background-color: #428bca;
    border-color: #357ebd;
}

.hidden {
    /*    display: none;*/
    visibility: hidden;
}

.msg {
    border-radius: 0px;
    margin: 10px 0 0 0;
}

.messages {
    width: 100%;
    left: 0px;
    position: fixed;
    bottom: 0px;
}

#connection {
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 200;
}

#connection p {
    height: inherit;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}